<div style="padding-top: 2.75rem; padding-bottom: 2.75rem;">
  <div style="max-width: 1024px; margin-left: auto; margin-right: auto; border-style: solid; border-radius: 9999px; border-width: 2px; border-color: rgb(94 234 212); box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); padding: 2.5rem;">
    <h1 style="font-size: 4.5rem; line-height: 1rem; color: rgb(24 24 27);">GorontaloJS</h1>
    <p style="font-size: 2.25rem; line-height: 1rem;">{{fortune}}</p>
  </div>
</div>